Flask
Flask-Cors
gunicorn
python-http-client
sendgrid
Flask-ReCaptcha
waitress
python-dotenv
pytest
pytest-cov
coverage
MarkupSafe
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability